
  <!-- <nav class="navbar bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand"></a>
      <form class="d-flex" role="search">
        <button class="but1 btn btn-dark ">sign up</button>
       <button class="btn btn-light but2">log in</button>
        
      </form>
    </div>
   
  </nav> -->

  <!-- <div class="row">
        <div class=" ab col-3 ">
            <ul>
                <li><a href="spotyfi">spotyfi</a></li>
                <li><a href="home">home</a></li>
                <li><a href="search">search</a></li>
                <li><a href="your library">your library</a></li>
              </ul>
        </div> 
        <div class="col-9">2</div> 
      </div>
    
   -->